.agentCard {
  margin-bottom: 50px;
  width: 33%;
  text-align: center;
}

.agentCardPhoto {
  object-fit: contain;
  /* height: 345px; */
  width: 300px;
}

.learnMoreLink {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.learnMoreLink:hover {
  font-size: 1em;
  font-style: italic;
}
