.footer {
  text-align: center;
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.license-info {
  text-align: center;
}
