.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 75px;
}

houseImg {
  position: absolute;
  z-index: -1;
  filter: grayscale(100%);
  width: 100%;
}

.logoBox {
  width: 22%;
}

.logo {
  width: 80%;
  margin-left: 8%;
}

.logoText {
  width: 100%;
}

.navButtons {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

button {
  font-family: 'Cabin', sans-serif;
  background: none;
  color: black;
  border: none;
  width: 50%;
  font-size: 1.8em;
  font-weight: 700;
}

button:hover {
  font-size: 1.6em;
  font-style: italic;
}
